<div class="container">
    <div class="row mt-12 containertwo">
        <div class="col-md-10 mx-auto containerthree">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
                <div class="form-group">
                    <label>Tipo Identificacion</label>
                    <select class="form-select" aria-label="Default select example" id="tipoidentificacion" name="tipoidentificacion" [(ngModel)]="tipoidentificacion">
                      <option value="1">Cedula ciudadania</option>
                      <option value="2">Cedula Extranjeria</option>
                      <option value="3">Pasaporte</option>
                      <option value="4">NIT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="identificacion">Identificacion</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" id="identificacion" name="identificacion" [(ngModel)]="identificacion" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" required>
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" required>
                </div>
                <button class="btn btn-outline-primary btn-block" [disabled]="!f.valid">Crear</button>
            </form>
        </div>
    </div>
</div>

